.app__wrapper {
  padding: 0;
}

.body-text {
  text-align: center;
  color: var(--white-color);

  span {
    color: var(--secondary-color);
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 750px) {
    font-size: 2rem;
  }
}

.app__header {
  flex: 1;
  width: 100%;
  height: 0%;
  //flex-direction: row;
  padding: 6rem 2rem 0;
  z-index: 11000;

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
  }

  @media screen and (max-width: 1500px) {
    flex-direction: column;
  }

  @media screen and (max-width: 750px) {
    width: 100%;
    padding: 6rem 2rem 0;
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: url('../../assets/bgIMG.png') no-repeat center center / cover;
    z-index: -1; // Ensures it stays behind all other elements

    @media screen and (max-width: 750px) {
      position: absolute;
      top: 0px;
    }
    
  }

.app__header-info {
    flex: 0.65;
    top: 60%;
    right: 80%;
    display: flex;
    position: absolute; /* Ensure circles are positioned relative to this container */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    padding: 1rem;
    z-index: 80;

    @media screen and (max-width: 750px) {
      flex: 1;
      top: 580px;
      width: 100%;
      right: 350px;
      display: flex;
      position: absolute;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      // height: 100%;
    }
}

.app__header-badge {
    width: auto;
    top: -50%;
    right: -70%;
    position: relative; /* Ensure circles are positioned relative to this container */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    z-index: 8;

    @media screen and (max-width: 750px) {
      width: 100%;
      top: -500px;
      right: -500px;
      position: absolute;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
    }

    

    .badge-cmp {
      padding: 1rem 2rem;
      border: var(--white-color);
      border-radius: 15px;
      flex-direction: row;
      text-transform: uppercase;
      width: auto;
      background: #8999b3d7;

      box-shadow: 0 0 20px rgba(53, 50, 50, 0.269);

      p{
        font-weight: bold;
        color: #e2e2e2;
      }

      @media screen and (max-width: 750px) {
        width: 350px;
      }

      

    }
    .tag-cmp {
        padding: 1rem 2rem;
        border: var(--white-color);
        border-radius: 15px;
        flex-direction: row;
        text-transform: uppercase;
        width: auto;
        background: #8999b3d7;
        box-shadow: 0 0 20px rgba(53, 50, 50, 0.269);

        @media screen and (max-width: 750px) {
          padding: 0rem 2rem;
          border: var(--white-color);
          flex-direction: row;
          box-shadow: 0 0 20px rgba(53, 50, 50, 0);
        }

        @media screen and (max-width: 750px) {
          // padding: 0.5rem -25rem;
          // //width: 600px;
          // background: #9caeceb6;
          // z-index: 1;
          // position: relative;
          // top: 32.5%;
        }
    }

    .tag-cmp {
        flex-direction: column;
        margin-top: 2rem;

        p {
            width: 100%;
            text-transform: uppercase;
            text-align: right;
            font-weight: bold;
            color: #fddc6f;

            @media screen and (max-width: 750px) {
              width: 200px;
              text-transform: uppercase;
              text-align: left;
             
            }

            @media screen and (max-width: 550px){
              width: 290px;
              text-transform: uppercase;
              text-align: left;
            }
        }
    }

    span {
        font-size: 2.5rem;

        @media screen and (min-width: 2000px) {
            font-size: 5rem;
        }

        @media screen and (max-width: 750px) {
          font-size: 2.5rem;
        }
    }

    @media screen and (max-width: 1500px) {
        justify-content: flex-start;
        align-items: flex-start;
    }
}


.bottom-holder{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 5;

  @media screen and (max-width: 750px){
    z-index: 5;  //----------------------WE MIGHT CHANGE SOON
  }

  .image-holder{

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-image {
      width: 400px;
      position: absolute;
      left: 50%;
      top: 10px;
      transform: translate(-50%);
      object-fit: contain;
      z-index: 20;
      // display: none;

      @media screen and (max-width: 1500px) {
        position: relative;
        left: 170px;
        //top: 10px;
      }

      @media screen and (min-width: 1500px) {
        position: relative;
        top: 0px;
      }

      @media screen and (max-width: 750px) {
        position: relative;
        top: 125px;
        left: 350px;
        z-index: 11;
        width: 35%;
        height: 50%;
        z-index: 100;
      }
    }

    
    .app__header-circles {
      position: absolute; /* Ensure circles are positioned relative to this container */
      width: 300px; /* Width of the orbit */
      height: 300px; /* Height of the orbit */
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1rem;
      z-index: 11;
      // bottom: 0%;
      left: 7%;
      top: 16%;
      transform: translate(-50%, -50%); /* Center it on the page */

      @media screen and (max-width: 1500px) {
        left: 0px;
        top: 10px;
      }

      @media screen and (max-width: 750px) {
        position: relative;
        left: -300px;
        top: -37px;
        z-index: 15;
      }

      div {
        position: absolute;
        width: 100px; /* Size of each circle */
        height: 100px;
        border-radius: 50%;
        background: var(--white-color);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 750px) {
          width: 80px; /* Width of the orbit */
          height: 80px; /* Height of the orbit */
          
        }
      }
    
      img {
        width: 60%; /* Size of the image inside the circle */
        height: 60%;

        @media screen and (max-width: 750px) {
          width: 10px; /* Width of the orbit */
          height: 10px; /* Height of the orbit */
          
        }
      }
    }


    .app__header-img {
      flex: 1;
      height: 30%;
      width: 30%;
      display: flex;
      justify-content: flex-end;
      top: 0px;
      left: 0px;
      align-items: flex-end;
      position: absolute;
      z-index: 10;

      img {
          width: 400px;
          position: relative;
          top: 76px;
          left: 92.5px;
          object-fit: contain;
          z-index: 20;

          @media screen and (max-width: 1500px) {
            position: relative;
            top: 0px;
          }

          @media screen and (max-width: 750px) {
            position: relative;
            top: 0px;
            left: 0px;
            z-index: 11;
          }
      }

      .overlay_circle{
          position: absolute;
          left: -480px;
          top: -340px;
          z-index: -1;
          width: 500px;
          height: 500px;
          transform: translate(-50%, -50%);
          z-index: 7;

          @media screen and (max-width: 750px) {
            position: relative;
            left: -250px;
            top: -35px;
            z-index: 100001;
            width: 500px;
            height: 500px;
            transform: translate(-50%, 50%);
            z-index: 10;
          }

          @media screen and (min-width: 1500px) {
            position: absolute;
            left: -55px;
            top: -20px;
            // z-index: 100001;
            transform: translate(-50%, -50%);
            z-index: 10;
          }
      }
      
      @media screen and (max-width: 1500px) {
        margin: 0 0;
        position: relative;
        bottom: 0px;
        top: 0px;
        left: 0px;
      }

      @media screen and (max-width: 750px) {
        position: relative;
        right: 0px;
      }
    }
  }

  .app__new-section {
    width: 100dvw;
    position: relative;
    // display: block;
    left: 0%;
    bottom: 0; 
    padding: 1.9rem 2rem;
    z-index: 15;
    background: linear-gradient(to right, rgba(200, 200, 200) 40%, rgb(200, 200, 200) 40%); /* Gradient goes from transparent to solid horizontally */
    text-align: center; // Center align text and content
    z-index: 100231;
  
    .new-section-heading {
      font-size: 2.5rem;
      font-weight: bold;
      color: #0264ce; // Darker text
    }

    .app__stats {
        display: flex;
        justify-content: center;
        margin-top: 2rem;

        @media screen and (max-width: 750px) {
          margin-top: 1rem;
          margin-bottom: -0.5rem;
        }

        .app__stats-row {
            display: flex;
            justify-content: space-around;
            width: 100%;
            max-width: 600px;

            .app__stats-item {
                display: flex;
                flex-direction: column;
                align-items: center;

                .stats-heading {
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: #444;
                    margin-bottom: 0.5rem;
                }

                .stats-number {
                    font-size: 2.5rem;
                    font-weight: bold;
                    color: #0264ce;
                }
            }
        }
    }


    @media screen and (max-width: 750px) {
      .new-section-heading {
        font-size: 1.5rem;
      }
  
      .new-section-description {
        font-size: 0.05rem;
      }
    }
  }
}
  
}

.center {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 100000000000000;
  // justify-content: space-between;
}