#home {
    position: relative;
    background: url('../../assets/bgIMG.png') center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.app__wrapper {
    padding: 0;

    .copyright {
        display: block; /* Ensures the copyright section is visible */
        text-align: right; /* Optional: Aligns the text to the center */
        font-size: 14px; /* Optional: Adjust the font size */
        margin-top: 20px; /* Optional: Adds spacing above the copyright */
        color: #ffffff; /* Optional: Sets a subtle color */
    }
}

.body-text {
    text-align: center;
    color: var(--white-color);
    text-transform: capitalize;
  
    span {
      color: var(--secondary-color);
    }
  
    @media screen and (min-width: 2000px) {
      font-size: 4rem;
    }
  
    @media screen and (max-width: 450px) {
      font-size: 2rem;
    }
}

.app__header {
    flex: 1;
    width: 100%;
    height: 0%;
    flex-direction: row;
    padding: 6rem 2rem 0;
    z-index: 10000;
  
    @media screen and (min-width: 2000px) {
      padding-top: 8rem;
    }
  
    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }
  
    @media screen and (max-width: 450px) {
      padding: 6rem 1rem 2rem;
    }
}


  
.app__header-circles {
    position: relative; /* Ensure circles are positioned relative to this container */
    width: 300px; /* Width of the orbit */
    height: 300px; /* Height of the orbit */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    z-index: 7;
    bottom: -65%;
    left: -32.5%;
    transform: translate(-30%, 30%); /* Center it on the page */
  
    div {
      position: absolute;
      width: 100px; /* Size of each circle */
      height: 100px;
      border-radius: 50%;
      background: var(--white-color);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    img {
      width: 60%; /* Size of the image inside the circle */
      height: 60%;
    }
}

.app__header-info {
    flex: 0.65;
    top: 60%;
    right: 80%;
    display: flex;
    position: absolute; /* Ensure circles are positioned relative to this container */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    padding: 1rem;
    z-index: 8;
}

.app__header-badge {
    width: auto;
    top: -50%;
    right: -70%;
    position: relative; /* Ensure circles are positioned relative to this container */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    z-index: 8;

    .badge-cmp,
    .tag-cmp {
        padding: 1rem 2rem;
        border: var(--white-color);
        border-radius: 15px;
        flex-direction: row;
        width: auto;

        box-shadow: 0 0 20px rgba(83, 80, 80, 0.363);
    }

    .tag-cmp {
        flex-direction: column;
        margin-top: 3rem;

        p {
            width: 100%;
            text-transform: uppercase;
            text-align: right;
        }
    }

    span {
        font-size: 2.5rem;

        @media screen and (min-width: 2000px) {
            font-size: 5rem;
        }
    }

    @media screen and (max-width: 1200px) {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.app__header-img {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    padding-bottom: 15%;


    img {
        width: 80%;
        position: relative;
        top: 380px;
        left: 20%;
        object-fit: contain;
        z-index: 8;

    }

    .overlay_circle{
        position: absolute;
        left: 35%;
        top: -280px;
        z-index: -1;
        width: 500px;
        height: 500px;
        transform: translate(-50%, 50%);
        z-index: 7;
    }

    @media screen and (max-width: 1200px) {
        margin: 5rem 0;
        position: relative;
        bottom: 320px;
    }
}

.app__new-section {
    width: 95%;
    position: absolute;
    left: 5%;
    bottom: -1.0px;
    padding: 1.9rem 2rem;
    z-index: 10;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(200, 200, 200) 40%); /* Gradient goes from transparent to solid horizontally */
    text-align: center; // Center align text and content
  
    .new-section-heading {
      font-size: 2.5rem;
      font-weight: bold;
      color: #ffffff; // Darker text
      //margin-bottom: 1rem;
    }

    .app__stats {
        display: flex;
        justify-content: center;
        margin-top: 2rem;

        .app__stats-row {
            display: flex;
            justify-content: space-around;
            width: 100%;
            max-width: 600px;

            .app__stats-item {
                display: flex;
                flex-direction: column;
                align-items: center;

                .stats-heading {
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: #444;
                    margin-bottom: 0.5rem;
                }

                .stats-number {
                    font-size: 2.5rem;
                    font-weight: bold;
                    color: #007BFF;
                }
            }
        }
    }
  
  
    @media screen and (max-width: 768px) {
      padding: 3rem 1rem;
  
      .new-section-heading {
        font-size: 2rem;
      }
  
      .new-section-description {
        font-size: 0.9rem;
      }
    }
  }
