#home {
    position: relative;
    background: url('../../assets/bgIMG.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevent any overflow from appearing */
}

.app__wrapper {
    padding: 0;

    .copyright {
        display: none;
    }
}

.app__header {
    flex: 1;
    width: 100%;
    height: 0%;
    flex-direction: row;
    padding: 6rem 2rem 0;
  
    @media screen and (min-width: 2000px) {
      padding-top: 8rem;
    }
  
    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }
  
    @media screen and (max-width: 450px) {
      padding: 6rem 1rem 2rem;
    }
}


  
.app__header-circles {
    position: relative; /* Ensure circles are positioned relative to this container */
    width: 300px; /* Width of the orbit */
    height: 300px; /* Height of the orbit */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    z-index: 0;
    bottom: -70%;
    left: -30%;
    transform: translate(-30%, 30%); /* Center it on the page */
  
    div {
      position: absolute;
      width: 100px; /* Size of each circle */
      height: 100px;
      border-radius: 50%;
      background: var(--white-color);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    img {
      width: 60%; /* Size of the image inside the circle */
      height: 60%;
    }
}

.app__header-info {
    flex: 0.65;
    top: 60%;
    right: 80%;
    flex: 0.65;
    display: flex;
    position: absolute; /* Ensure circles are positioned relative to this container */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    padding: 1rem;
    z-index: 1;
}

.app__header-badge {
    width: auto;
    top: -50%;
    position: relative; /* Ensure circles are positioned relative to this container */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    .badge-cmp,
    .tag-cmp {
        padding: 1rem 2rem;
        border: var(--white-color);
        border-radius: 15px;
        flex-direction: row;
        width: auto;

        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .tag-cmp {
        flex-direction: column;
        margin-top: 3rem;

        p {
            width: 100%;
            text-transform: uppercase;
            text-align: right;
        }
    }

    span {
        font-size: 2.5rem;

        @media screen and (min-width: 2000px) {
            font-size: 5rem;
        }
    }

    @media screen and (max-width: 1200px) {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.app__header-img {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    padding-bottom: 15%;

    img {
        width: 80%;
        position: relative;
        top: 245px;
        left: 25%;
        object-fit: contain;
        z-index: 1;
    }

    .overlay_circle{
        position: absolute;
        left: 35%;
        top: -310px;
        z-index: 0;
        width: 550px;
        height: 550px;
        transform: translate(-50%, 50%);
    }

    @media screen and (max-width: 1200px) {
        margin: 5rem 0;
        position: relative;
        bottom: 320px;
    }
}

/* Add the black rectangular block below the header */
.black-rectangular-block {
    width: 100%; /* Full width */
    height: 100px; /* Set desired height */
    background-color: black; /* Black background */
    position: relative;
    z-index: -1; /* Ensure it stays beneath the header */
}
